.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('img/bckgrd.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}
